<div *ngIf="customer">
    <p-panel header="Create bookings">
        <table>
            <tr>
                <td>
                    <input [(ngModel)]="numberOfSeats" placeholder="number of seats" type="text" pKeyFilter="int">
                </td>
            </tr>
            <tr>
                <td>
                    <p-button id="create-button" label="Create booking" (onClick)="createBooking()" style="width:200px"></p-button>
                </td>
            </tr>
        </table>
        <p-messages [(value)]="msgs"></p-messages>
    </p-panel>
</div>