#create-button {
    padding-top: 10px;
    width: 176px;
 }

 /* Overriding prime-ng styling */
 ::ng-deep .ui-button-text-only .ui-button-text { 
    padding: .25em 28px; 
}

input {
    width: 176px;
}