<p-panel header="Select customer">
  <p-dropdown [options]="customers" [(ngModel)]="selectedCustomer" optionLabel="customerNumber" placeholder="select customer"
    (onChange)="onCustomerSelected($event)"></p-dropdown>
  <p-messages [(value)]="msgs"></p-messages>
</p-panel>