<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-select-customer></app-select-customer>
<app-create-bookings></app-create-bookings>
<app-booked-seats></app-booked-seats>