<div *ngIf="bookedSeats || isMsgs">
  <p-panel header="Bookings">
    <div>
      <p-table [value]="bookedSeats" (sortFunction)="dummySort($event)" [customSort]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Customer</th>
            <th>Seat</th>
            <th>Booking date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
          <tr>
            <td>{{booking.customerNumber}}</td>
            <td>{{booking.seatNumber}}</td>
            <td>{{booking.bookingDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator rows={{pageSize}} totalRecords={{totalElements}} (onPageChange)="paginate($event)"></p-paginator>
    </div>
    <div *ngIf="totalElements">Total booked seats is {{totalElements}}</div>
    <p-messages [(value)]="msgs"></p-messages>
  </p-panel>
</div>